*{
    font-family: 'Courier New', Courier, monospace;
    margin: 1em;
    background-color: antiquewhite;
    overflow: none;
}


.container{
    border: solid;
    width: 79em;
    margin-right: 10em;
    flex-wrap: wrap;
    margin-top: 0.3em;
    
}
.title, .game{
    border: solid;
}
.title{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    
}
#squareZone{
    
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3,auto);
    height: fit-content;
    width: fit-content;
    justify-self: center;
    
}
#generate{
    font-size: large;
    grid-column: 1/4;
}




.square1{ 
    outline: auto;
    grid-column: 1/1;
    grid-row: 1/1;
    
    
    
}
.square2{
    outline: auto;
    grid-column: 1/1;
    grid-row: 2/2;
}
.square3{
    outline: auto;
    grid-column: 1/1;
    grid-row: 3/3;
}




.square4{
    outline: auto;
    grid-column: 2/2;
    grid-row: 1/1;
}
.square5{ 
    outline: auto;
    grid-column: 2/2;
    grid-row: 2/2;
    
}
.square6{
    outline: auto;
    grid-column: 2/2;
    grid-row: 3/3;
}




.square7{
    outline: auto;
    grid-column: 3/3;
    grid-row: 1/1;
}
.square8{
    outline: auto;
    grid-column: 3/3;
    grid-row: 2/2;
}
.square9{
    outline: auto;
    grid-column: 3/3;
    grid-row: 3/3;
}

